@import 'variables';

body {
  margin: 0;
  font-size: 16px;

  @media only screen and (max-width: 600px) {
    font-size: 13px;
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 $main-indent;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  font: 1.1em 'Raleway', $font-stack;
  font-weight: 500;

  &:focus {
    outline: none;
  }
  &_disabled {
    pointer-events: none;
    background: #757575 !important;
  }
  &_green {
    color: #fff;
    background: $back-color;
    border-radius: 2px;

    &:hover {
      background: #26a69a;
    }
    &:active {
      background: #4db6ac;
    }
  }
}

.list {
  list-style: none;

  &:nth-last-child(1) {
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 480px) {
    max-width: 300px;
  }
}
